 body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    
}

p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
  }
  
  #destroy{
    color: green;
  }
  
  th {
    padding-bottom: 5px;
}

.field , .actions {
    margin-bottom: 10px;
}

label {
    display: block;
}

nation ul li {
    font-size: 12px;
    list-style: square;
}

#error_explanation {
    width: 450px;
   
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

flash {
  color: green;
}

.a{
    cursor: pointer;
    text-decoration: underline;
    color: #000;
}